{% extends "layout.html.twig" %}

{% block title %}
	Error 403
{% endblock %}

{% block content %}
	<div class="m-5 p-5 text-center alert alert-danger">
		<h2>
			ERREUR 403
		</h2>
		<h4>
			Vous n'avez pas les droits pour acceder à cette page !
		</h4>
		<p>
			Contactez nous au : 06969
			<small>
				99€/min
			</smal>
		</p>
	</div>
{% endblock %}
