{% extends "layout.html.twig" %}

{% block title %}
	Error 404
{% endblock %}

{% block content %}
	<div class="m-5 p-5 text-center alert alert-danger">
		<h2>
			ERREUR 404
		</h2>

		<h4>
			Cette page n'existe pas !
		</h4>
		<p>
			Contactez nous au : 06969 69 69 69
			<small>
				pour seulement 99€/min
			</smal>
		</p>
	</div>
{% endblock %}
